---
import { getCollection } from "astro:content";

const recipes = await getCollection("recipes");

const categories = [
  ...new Set(
    recipes
      .map((entry) => entry.data.category)
      .filter((category) => !!category),
  ),
];
---

<nav class="space-y-3">
  <h1 class="mb-4 text-lg font-semibold">Recipes</h1>

  <ul class="flex flex-col overflow-hidden">
    {
      recipes.map((recipe) => (
        <li>
          <a
            href={`${import.meta.env.BASE_URL}recipes/${recipe.slug}`}
            class="text-blue-500"
          >
            {recipe.data.title || recipe.slug}
          </a>
        </li>
      ))
    }
  </ul>

  <h1 class="mb-4 text-lg font-semibold">Categories</h1>

  <ul class="flex flex-col overflow-hidden">
    {
      categories.map((category) => (
        <li>
          <a
            href={`${import.meta.env.BASE_URL}categories/${category}`}
            class="text-blue-500"
          >
            {category}
          </a>
        </li>
      ))
    }
  </ul>
</nav>
